* {
  box-sizing: border-box;
}

body,
:root {
  background-color: #ebe6e6;
  font-size: 10px;
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
body header {
  background-image: url(../img/pexels-sean-m-166451.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 5px #141010;
  margin-bottom: 3rem;
}
body header div.header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(30, 30, 30, 0.45);
  height: 100%;
  margin: 0;
  color: #e5e5e3;
}
body header div.header-wrapper div.header-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  letter-spacing: 4px;
  margin: 0 2rem;
}
body header div.header-wrapper div.header-text h1 {
  font-size: 3rem;
  margin: 0;
}
body header div.header-wrapper div.header-text h2 {
  font-size: 2rem;
  margin: 0;
}
body header div.header-wrapper span {
  font-size: 4.5rem;
}
body div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  flex-grow: 1;
}
body div.wrapper main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
body div.wrapper main div.first-pizza,
body div.wrapper main div.second-pizza {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-width: 50rem;
  overflow: hidden;
  background-color: #e5e5e3;
  border: #5C0502 0.3rem solid;
  border-radius: 2rem;
  margin: 2rem;
}
body div.wrapper main div.first-pizza div.title,
body div.wrapper main div.second-pizza div.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #5C0502;
  text-align: center;
  font-size: 3rem;
  color: #e5e5e3;
}
body div.wrapper main div.first-pizza div.title i,
body div.wrapper main div.second-pizza div.title i {
  margin: 1rem 0.5rem 0 0.5rem;
}
body div.wrapper main div.first-pizza div.title p,
body div.wrapper main div.second-pizza div.title p {
  width: 100%;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: bold;
}
body div.wrapper main div.first-pizza div.calc,
body div.wrapper main div.second-pizza div.calc {
  flex-grow: 1;
  width: 100%;
  background-color: #E5D2C3;
}
body div.wrapper main div.first-pizza div.calc form,
body div.wrapper main div.second-pizza div.calc form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
body div.wrapper main div.first-pizza div.calc form div,
body div.wrapper main div.second-pizza div.calc form div {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #141010;
}
body div.wrapper main div.first-pizza div.calc form div input,
body div.wrapper main div.second-pizza div.calc form div input {
  background-color: #ebe6e6;
  border-color: #5C0502;
  border-radius: 1rem;
  padding: 0.7rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
}
body div.wrapper main div.first-pizza div.calc form div input[type=number],
body div.wrapper main div.second-pizza div.calc form div input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
body div.wrapper main div.first-pizza div.calc form div input:focus,
body div.wrapper main div.first-pizza div.calc form div select:focus,
body div.wrapper main div.first-pizza div.calc form div textarea:focus,
body div.wrapper main div.first-pizza div.calc form div button:focus,
body div.wrapper main div.second-pizza div.calc form div input:focus,
body div.wrapper main div.second-pizza div.calc form div select:focus,
body div.wrapper main div.second-pizza div.calc form div textarea:focus,
body div.wrapper main div.second-pizza div.calc form div button:focus {
  outline: none;
}
body div.wrapper main div.first-pizza div.calc form div input:focus,
body div.wrapper main div.second-pizza div.calc form div input:focus {
  background-color: #5C0502;
  color: #e5e5e3;
}
body div.wrapper main div.first-pizza.win,
body div.wrapper main div.second-pizza.win {
  border-color: #95A367;
}
body div.wrapper main div.first-pizza.win div.title,
body div.wrapper main div.second-pizza.win div.title {
  background-color: #95A367;
}
body div.wrapper main div.first-pizza.lose,
body div.wrapper main div.second-pizza.lose {
  border-color: tomato;
}
body div.wrapper main div.first-pizza.lose div.title,
body div.wrapper main div.second-pizza.lose div.title {
  background-color: tomato;
}
body div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
}
body div.btn button.check {
  padding: 1rem 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  background-color: #95A367;
  font-weight: bold;
  letter-spacing: 0.3rem;
  border-radius: 1rem;
  border: transparent 2px solid;
  color: #e5e5e3;
}
body div.btn button.check:hover {
  background-color: #e5e5e3;
  border-color: #95A367;
  color: #95A367;
}
body div.btn button.check:active {
  background-color: #95A367;
  color: #e5e5e3;
}
body div.result {
  width: 100%;
  flex-basis: 15%;
}
body footer {
  font-size: 1.5rem;
  text-align: center;
  color: #e5e5e3;
  padding: 1rem;
  width: 100%;
  background-color: #141010;
}/*# sourceMappingURL=main.css.map */