$background: #ebe6e6;
$white: #e5e5e3;
$black: #141010;
$main-color: #5C0502;
$second-color: #E5D2C3;
$third-color: #95A367;
$font-size: 10px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body,
:root {
    background-color: $background;
    font-size: $font-size;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
}
