@import '_variables.scss';

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    header {
        background-image: url(../img/pexels-sean-m-166451.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 2px 5px $black;
        margin-bottom: 3rem;
        div.header-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: rgba(30, 30, 30, 0.45);
            height: 100%;
            margin: 0;
            color: $white;
            div.header-text {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                letter-spacing: 4px;
                margin: 0 2rem;
                h1 {
                    font-size: 2rem;
                    margin: 0;
                }
                h2 {
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
            span {
                font-size: 3.5rem;
            }
        }
    }
    div.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1800px;
        main {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            div.first-pizza,
            div.second-pizza {
                display: flex;
                flex-direction: column;
                width: 40%;
                max-width: 50rem;
                overflow: hidden;
                background-color: $white;
                border: $main-color 0.3rem solid;
                border-radius: 2rem;
                margin: 1rem;
                div.title {
                    @include center;
                    flex-direction: column;
                    background-color: $main-color;
                    text-align: center;
                    font-size: 2rem;
                    color: $white;
                    i {
                        margin: 1rem 0.5rem 0 0.5rem;
                    }
                    p {
                        width: 100%;
                        margin: 1rem 0;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                div.calc {
                    width: 100%;
                    background-color: $second-color;
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        height: 100%;
                        div {
                            display: flex;
                            flex-direction: column;
                            padding: 1rem 2rem;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: $black;
                            input {
                                background-color: $background;
                                border-color: $main-color;
                                border-radius: 1rem;
                                padding: 0.7rem;
                                margin-top: 1rem;
                                font-size: 1.4rem;
                                text-align: center;
                            }
                            input[type='number'] {
                                -webkit-appearance: textfield;
                                -moz-appearance: textfield;
                                appearance: textfield;
                            }

                            input:focus,
                            select:focus,
                            textarea:focus,
                            button:focus {
                                outline: none;
                            }

                            input:focus {
                                background-color: $main-color;
                                color: $white;
                            }
                        }
                    }
                }
            }
            div.first-pizza.win,
            div.second-pizza.win {
                border-color: $third-color;
                div.title {
                    background-color: $third-color;
                }
            }
            div.first-pizza.lose,
            div.second-pizza.lose {
                border-color: tomato;
                div.title {
                    background-color: tomato;
                }
            }
        }
    }

    div.result {
        font-size: 1rem;
        text-align: center;
    }

    div.btn {
        @include center;
        flex-basis: 10%;
        button.check {
            padding: 1rem 3rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            background-color: $third-color;
            font-weight: bold;
            letter-spacing: 0.3rem;
            border-radius: 1rem;
            border: transparent 2px solid;
            color: $white;
        }
        button.check:hover {
            background-color: $white;
            border-color: $third-color;
            color: $third-color;
        }

        button.check:active {
            background-color: $third-color;
            color: $white;
        }
    }

    footer {
        font-size: 1rem;
        text-align: center;
        color: $white;
        padding: 1rem;
        width: 100%;
        background-color: $black;
    }
}

@media (min-height: 800px) {
    body {
        header {
            div.header-wrapper {
                div.header-text {
                    h1 {
                        font-size: 3rem;
                    }
                    h2 {
                        font-size: 2.5rem;
                    }
                }
                span {
                    font-size: 5.5rem;
                }
            }
        }
        div.wrapper {
            main {
                div.first-pizza,
                div.second-pizza {
                    div.title {
                        font-size: 2.5rem;
                        padding: 1rem;
                    }
                    div.calc {
                        form {
                            div {
                                padding: 2rem 3rem;
                                font-size: 2rem;
                                input {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.result {
            font-size: 2rem;
            text-align: center;
        }

        div.btn {
            button.check {
                font-size: 2.5rem;
            }
        }

        footer {
            font-size: 2rem;
        }
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    body {
        div.wrapper {
            main {
                div.first-pizza,
                div.second-pizza {
                    div.title {
                        font-size: 4rem;
                        padding: 1rem 2rem;
                    }
                    div.calc {
                        form {
                            div {
                                padding: 3rem 5rem;
                                font-size: 2.5rem;
                                input {
                                    font-size: 2.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.result {
            font-size: 3rem;
            text-align: center;
        }

        div.btn {
            button.check {
                font-size: 3.5rem;
            }
        }

        footer {
            font-size: 2rem;
        }
    }
}

@media (min-width: 1024px) {
    body {
        div.wrapper {
            main {
                div.first-pizza,
                div.second-pizza {
                    div.title {
                        font-size: 2rem;
                    }
                    div.calc {
                        form {
                            div {
                                padding: 1.5rem 4rem;
                                font-size: 2rem;
                                input {
                                    font-size: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.result {
            font-size: 1.6rem;
        }

        div.btn {
            button.check {
                font-size: 2rem;
            }
        }

        footer {
            font-size: 2rem;
        }
    }
}

@media (min-width: 1440px) {
    body {
        div.wrapper {
            main {
                div.first-pizza,
                div.second-pizza {
                    div.title {
                        font-size: 4rem;
                    }
                    div.calc {
                        form {
                            div {
                                padding: 2rem;
                                font-size: 3.5rem;
                                input {
                                    font-size: 3.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.result {
            font-size: 3rem;
        }

        div.btn {
            button.check {
                font-size: 4rem;
            }
        }

        footer {
            font-size: 2rem;
        }
    }
}
